{% extends 'base.html' %}

{% block title %}Contatos{% endblock  %}

{% include 'nav.html' %}

{% block content %}

<div class="container mt-5">
    <div class="col mb-5">
        <h1>Contatos</h1>
    </div>
    <div class="table-responsive">
        <div class="row-fluid">
            <div class="col">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <!--<th scope="col">Id</th>-->
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody class="table-trans">
                        {% for dados in contact %}
                        <tr>
                            <!--<th scope="row">{{ dados.id }}</th>-->
                            <td>{{ dados.username }}</td>
                            <td>{{ dados.tel }}</td>
                            <td>{{ dados.email }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock  %}